<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>公益</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>失物招领</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>扶贫</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>义工</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>宗教信仰</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>政府机构</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>社区</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>公安</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>媒体</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>市政管理</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>教育</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>小学</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>中学</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>大学</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>学校社团</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>培训机构</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>幼儿园</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>房产</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>租赁</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>维修施工</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>装潢设计</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>建材销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>饰品销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>家具销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>综合服务</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>汽车</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>维修</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>洗车</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>配件销售</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>加油</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>综合服务</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>生活服务</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>购物</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>丽人</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>鲜花</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>口腔</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>配镜</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>家政</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>婚介</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>婚庆礼仪</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>物业管理</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>洗衣</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>餐饮</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>洗浴</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>美容美发</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>家电维修</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>摄影</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>公共服务</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>供水</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>供电</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>路政设施</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>供暖</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>供气</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>资源回收</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>健康医疗</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>体检</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>医院</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>社区医院</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>理疗</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>药店</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>诊所</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>娱乐</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>影院</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>KTV</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>健身</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>棋牌室</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>活动中心</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>足疗</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>酒吧</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>会所</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>金融保险</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>银行</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>理财</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>保险</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>投融资</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>股票</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>外汇</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>期货</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>现货</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>交通运输</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>出租车</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>专车</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>租赁车</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>货运</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>快递</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>公共交通</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>旅行</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>旅行社</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>酒店</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>票务</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>景区</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
